---
import { Image, getImage } from "astro:assets";
import hero1 from "@/assets/home/hero-1.jpg";
import Countdown from "./Countdown.astro";
---

<section class="hero relative min-h-dvh" id="hero">
  <div class="duotone before:bg-orange-300 after:bg-blue-800">
    <Image
      src={hero1}
      alt="Person playing badminton"
      class="h-dvh object-cover"
      loading="eager"
    />
  </div>
  <div class="hero-content text-center text-white">
    <div class="max-w-md space-y-6">
      <h1 class="text-5xl font-bold">GG56 Badminton Tournament</h1>
      <p class="">Coming soon</p>
    </div>
  </div>
</section>
