---

---

<section id="sponsors" class="col-span-2 grid grid-cols-subgrid md:col-span-4">
  <h2 class="sr-only">Sponsors</h2>
  <ul class="contents">
    {
      [...Array(4)].map((_, i) => (
        <li>
          <div class="grid h-full place-items-center border text-center">
            sponsor {i + 1}
          </div>
        </li>
      ))
    }
  </ul>
</section>
